body {
margin:0; padding:0;
font-family: verdana;
font-size: 8pt;
line-height: 150%;
}

a:link       { color: #ffaaff; }
a:visited    { color: #ffaaff; }
a:active     { color: #ffaaff; }
a:hover      { color: #000000; }

	.titlecell {
vertical-align: top;
}

	.pink	{ 
	font-family: arial;
	color: #ffaaff;
	font-weight: bold;
	font-size:12pt;
	}
	.image {
	margin:10px;
	border:1px solid black
	}
	#img	{
	border: 0px;
	}
	#container {
		width: 900px;
		margin:0 auto;
		}
	#header {
		position:relative;
		margin:0; padding:0;
		height:162px;
		}

	#main1 {
		margin:0; padding:0;
		background:url('images/left.jpg') repeat-y top left;
		}
	#main2 {
		margin:0; padding:0;
		background:url('images/right.jpg') repeat-y top right;
		}
	#left {
		float:left;
		width:60px;
		margin:0; padding:0;
		background:url('images/left.jpg') repeat-y top left;
		}
	#right {
		float:right;
		width:60px;
		margin:0; padding:0;
		background:url('images/right.jpg') repeat-y top right;
		}
	#middle {
		margin:0 60px;
		}
	.cleaner {
		clear:both;
		height:1px;
		font-size:1px;
		border:none;
		margin:0; padding:0;
		background:transparent;
		}
	#footer {
		position:relative;
		margin:0px;
		}
	#bottomright {
		width:500px;
		height:240px;
		margin:0 ; padding:0;
		}
	#containfooter {
	position:relative;
	width: 900px;
	margin:0 auto;
	background:red;
		}
	#contentfooter {
	margin:0; padding:0;
	position:absolute;
	left:0px;
	top:0px;
	height:230px;
	width:900px;
	background:url('images/footer.jpg') no-repeat;
	}
#pink5-01 {
	position:absolute;
	left:0px;
	top:0px;
	width:900px;
	height:89px;
}

#pink5-02 {
	position:absolute;
	left:0px;
	top:89px;
	width:391px;
	height:40px;
}

#pink5-03 {
	position:absolute;
	left:391px;
	top:89px;
	width:126px;
	height:34px;
}

#pink5-04 {
	position:absolute;
	left:517px;
	top:89px;
	width:383px;
	height:40px;
}

#pink5-05 {
	position:absolute;
	left:391px;
	top:123px;
	width:126px;
	height:23px;
}

#pink5-06 {
	position:absolute;
	left:0px;
	top:129px;
	width:143px;
	height:17px;
}

#pink5-07 {
	position:absolute;
	left:143px;
	top:129px;
	width:42px;
	height:17px;
}

#pink5-08 {
	position:absolute;
	left:185px;
	top:129px;
	width:26px;
	height:17px;
}

#pink5-09 {
	position:absolute;
	left:211px;
	top:129px;
	width:47px;
	height:17px;
}

#pink5-10 {
	position:absolute;
	left:258px;
	top:129px;
	width:19px;
	height:17px;
}

#pink5-11 {
	position:absolute;
	left:277px;
	top:129px;
	width:78px;
	height:17px;
}

#pink5-12 {
	position:absolute;
	left:355px;
	top:129px;
	width:36px;
	height:17px;
}

#pink5-13 {
	position:absolute;
	left:517px;
	top:129px;
	width:49px;
	height:17px;
}

#pink5-14 {
	position:absolute;
	left:566px;
	top:129px;
	width:91px;
	height:17px;
}

#pink5-15 {
	position:absolute;
	left:657px;
	top:129px;
	width:12px;
	height:17px;
}

#pink5-16 {
	position:absolute;
	left:669px;
	top:129px;
	width:87px;
	height:17px;
}

#pink5-17 {
	position:absolute;
	left:756px;
	top:129px;
	width:11px;
	height:17px;
}

#pink5-18 {
	position:absolute;
	left:767px;
	top:129px;
	width:66px;
	height:17px;
}

#pink5-19 {
	position:absolute;
	left:833px;
	top:129px;
	width:67px;
	height:17px;
}

#pink5-20 {
	position:absolute;
	left:0px;
	top:146px;
	width:900px;
	height:16px;
}

#pink5-21 {
	position:absolute;
	left:0px;
	top:162px;
	width:60px;
	height:81px;
}

#pink5-22 {
	position:absolute;
	left:60px;
	top:162px;
	width:780px;
	height:35px;
}

#pink5-23 {
	position:absolute;
	left:840px;
	top:162px;
	width:60px;
	height:81px;
}
#bottomright-01 {
	position:absolute;
	right:0px;
	top:0px;
	width:500px;
	height:143px;
}

#bottomright-02 {
	position:absolute;
	right:407px;
	top:143px;
	width:93px;
	height:117px;
}

#bottomright-Pink-Scales {
	position:absolute;
	right:0px;
	top:143px;
	width:407px;
	height:95px;
}

#bottomright-Pink-Scales004 {
	position:absolute;
	right:347px;
	top:238px;
	width:60px;
	height:22px;
}

#bottomright-05 {
	position:absolute;
	right:309px;
	top:238px;
	width:38px;
	height:22px;
}

#bottomright-06 {
	position:absolute;
	right:269px;
	top:238px;
	width:40px;
	height:22px;
}

#bottomright-07 {
	position:absolute;
	right:209px;
	top:238px;
	width:60px;
	height:22px;
}

#bottomright-08 {
	position:absolute;
	right:134px;
	top:238px;
	width:75px;
	height:22px;
}

#bottomright-09 {
	position:absolute;
	right:63px;
	top:238px;
	width:71px;
	height:22px;
}

#bottomright-10 {
	position:absolute;
	right:0px;
	top:238px;
	width:63px;
	height:22px;
}
