html, body
{
	margin: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}

body
{
	font-size: 0.7em;
	line-height:1em;
}

a
{
	color: #000000;
	text-decoration:none;
}

a:hover
{
	color: #666666;
}

h1
{
	font-size: 2.5em;
	line-height: 1em;
	font-weight:normal;
	margin: 0 10px 0 10px;
	text-align:right;
	position:relative;
	z-index:2;
}
h3
{
	line-height: 1em;
	font-weight:normal;
	font-size: 2em;
	margin: 0 0 0 10px;
	position:relative;
	z-index:5;
	color: #929B51;
}

#wrapper
{
	width:900px;
	position: relative;
	margin: 30px auto 0px auto;
}

#background
{
	position: absolute;
	top: 0;
	right: 0;
	width:900px;
	height:500px;
	background-image:url(tree.jpg);
	background-position:340px 23px;
	background-repeat:no-repeat;
	z-index: 0;
}

#header
{
	border: 1px solid #000000;
	margin: -11px 0 0 0;
	padding: 4px;
	position:relative;
	z-index:2;
}

#header-pic
{
	height:150px;
	background-image:url(06121650.jpg);
	background-position:center 20%;
	position:relative;
	z-index:2;
}

#nav
{
	position:relative;
	background-image:url(bg.jpg);
	background-position:0% bottom;
	background-repeat:no-repeat;
}

#navcontainer
{
	font-weight:500;
	font-size: 1.3em;
	padding: 10px 0 0 0;
}

#navcontainer ul
{
	position: relative; 
	margin: 0;
	padding: 0;
	width: 100%;
	height: 30px;
}

#navcontainer ul li
{
	display: inline;
	line-height: 1.2em;
	text-align: center;
}

#navcontainer ul li a
{
	padding: 0 10px;
}

#right
{
	width:200px;
	position: absolute;
	left: 700px;
	top: 0px;
	padding: 10px 0 0 0;
}

ul li a:hover
{
	background-color: #ddd;
	color: #333;
}

.features
{
	position:relative;
	list-style-type:none;
	margin: -7px 10px 20px 0;
	padding: 10px;
	border: 1px solid #dddddd;
	z-index:4;
	line-height: 1.5em;
}

#features1
{
	background-image:url(bg.jpg);
	background-position: 0px 50px;
}
#features2
{
	background-image:url(bg.jpg);
	background-position: 0px 100px;
}
#features3
{
	background-image:url(bg.jpg);
	background-position: 0px 150px;
}

.extras
{
	list-style-type:none;
	margin: -7px 0 20px 0;
	padding: 10px;
}

#footer
{
	position: absolute;
	bottom: 0;
	left: 0;
	width:900px;
	height:169px;
	background-image:url(tree2.gif);
	background-position:210px 0px;
	background-repeat:no-repeat;
	z-index: 0;
	text-align:center;
	color:#CCCCCC;
}

#footer-text
{
	position:absolute;
	bottom:0;
	left: 50%;
}

#content
{
	width:660px;
	min-height:500px;
	height:auto !important;
	height:500px;
	padding: 10px; margin: 0;
	background-image:url(bg.jpg);
	background-position:0% top;
	background-repeat:repeat-y;
	position:relative;
	z-index: 10;
}

#text
{
	margin: 0 0 50px 20px;
	position: relative;
	z-index: 100;
	line-height:1.2em;
}

#text h3
{
	line-height: 0.5em;
	font-weight:normal;
	font-size: 2em;
	margin: 0;
	position:relative;
	z-index:5;
	color: #929B51;
}

#text a
{
	text-decoration: underline;
}
#text a:visited
{
	text-decoration: line-through;
}

#text h4
{
	line-height: 1em;
	font-weight:normal;
	font-size: 1.5em;
	margin: 0;
	position:relative;
	z-index:5;
}

#text h4 a
{
	color: #929B51;
	text-decoration:none;
}

#text h4 a:hover
{
	text-decoration: none;
	color: #999999;
}