body {
	background-color: #643f00;
	font-family: "Georgia", "Times New Roman", Times, serif;
	font-size: 1em;
	margin: 0;
}

table {
	padding: 0;
	border-spacing: 0;
}

td,
th {
	font-family: "Georgia", "Times New Roman", Times, serif;
	font-size: 1em;
}

a {
	color: #ffffff;
}

a:hover {
	color: #ffff00;
}

#banner {
	width: 548px;
	height: 144px;
	background-image: url(../mybmxfamily.jpg);
	background-position: center;
	background-repeat: no-repeat;
	text-indent: -9999px;
}

#bmxlinks {
	color: #ffffff;
}

#white {
	background-color: #ffffff;
	color: #000000;
}

#white a {
	color: #000000;
}

#white a:hover {
	color: #999999;
}
